/* Define styles for image */
.image-199-icon {
  height: 320px;
  width: 320px;
  border-radius: 40px;
  object-fit: cover;
}

/* Define styles for heading */
.discover-your-perfect {
  margin: 0;
  height: 58px;
  font-size: 48px;
  font-weight: 600;
  color: #071a45;
  display: inline-block;
}

/* Define styles for "Learn More" link and paragraph */
.learn-more,
.use-our-advanced {
  line-height: 24px;
}

.learn-more {
  text-decoration: underline;
  white-space: nowrap;
}

/* Define styles for container holding heading, paragraph, and link */
.discover-your-perfect-home-parent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

/* Define styles for container holding image and content */
.frame-container,
.image-199-parent {
  display: flex;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  max-width: 100%;
}

/* Define styles for container holding content */
.frame-container {
  flex: 1;
  flex-direction: column;
  padding: 67px 0 0;
  box-sizing: border-box;
  min-width: 390px;
}

/* Define styles for parent container */
.image-199-parent {
  width: 1000px;
  gap: 80px;
  text-align: left;
  font-size: 20px;
  color: rgba(7, 26, 69, 0.7);
  font-family: Lato;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1100px) {
  .image-199-icon {
    flex: 1;
  }
  .image-199-parent {
    flex-wrap: wrap;
    gap: 80px 40px;
  }
}

@media screen and (max-width: 750px) {
  .discover-your-perfect {
    font-size: 38px;
  }
  .frame-container {
    min-width: 100%;
  }
  .image-199-parent {
    gap: 80px 20px;
  }
}

/* Float left and right alternately */
.image-199-parent:nth-child(odd) {
  flex-direction: row-reverse;
}
